<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cocimex</title>
</head>

<body>
  <main>
    <nav>
      <a href="#" class="logo">Cocimex</a>
      <div class="links-container">
        <a href="#"> Home </a>
        <a href="#"> Contact </a>
        <a href="#"> About </a>
        <!-- <p class="user-welcome">Welcome, {{ userName }}</p> -->
        <button (click)="logoutUser()" class="login-btn">Logout</button>
      </div>
    </nav>
    <section>
      <div class="secure-container btn-container">
        <div class="search-field">
        <input type="text" id="input-search" placeholder="ENTER SEARCH CRITERIA" [(ngModel)]="username">
        <button (click)="callSecuredApi()" class="button" role="button"> SEARCH
        </button>
      </div>
        <div class="container" *ngIf="isShown">
          <table class="table table-striped">

            <thead>
        
                <tr>
        
                  <th style="color:#FFFF">First Name</th>
        
                  <th style="color:#FFFF">Family Name</th>
        
                  <th style="color:#FFFF">Birth Place</th>
        
                  <th style="color:#FFFF">DOB</th>
  
                  <th style="color:#FFFF">Father Name</th>
        
                </tr>
        
            </thead>
        
            <tbody>
        
              <tr *ngFor="let j of searchResults">
        
                <td style="color:rgb(75, 174, 246)">{{ j.firstName }}</td>
        
                <td style="color:rgb(75, 174, 246)">{{ j.familyName }}</td>
        
                <td style="color:rgb(75, 174, 246)">{{ j.birthplace }}</td>
        
                <td style="color:rgb(75, 174, 246)">{{ j.dateOfBirth }}</td>
  
                <!-- <td style="color:rgb(75, 174, 246)">{{ student.lastUpdate }}</td> -->
              </tr>
        
            </tbody>
        
          </table>
          
          
        </div>
        <div *ngIf="isShown" class="page-container">
        <p>
          showing page {{currentPage}} of {{totalPages}} 
          </p>
          <button class="buttoon-next">Next Page</button>
        </div>


        <!-- <p class="server-data">{{ secureData }}</p> -->
      </div>
      <!-- <div class="unsecure-container btn-container">
        <button (click)="addNewEntry()" class="button" role="button">
          New Entry
        </button>
        <p>Click here to make a new Entry</p>
        <p class="server-data">{{ unsecureData }}</p>
      </div> -->
    </section>
  </main>
</body>