* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-flow: column nowrap;
  /* background: linear-gradient(to bottom right, #363553bc, #903775d0, #e8458cc5),
      url("hero-bg.jpg"); */
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url("/assets/login-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  height: 8rem;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
}

a:hover {
  color: rgb(65, 201, 243);
}

.logo {
  font-size: 2.4rem;
  font-weight: 700;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
}

h1 {
  font-size: 8rem;
  color: white;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

button {
  height: 4.8rem;
  width: 50%;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}
.buttoon-next{
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 3rem;
}

.links-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.login-btn {
  padding: 0.5rem 1.5rem;
  width: unset;
  background-color: rgb(65, 201, 243);
  color: black !important;
  border-radius: 5px;
}

.btn-container {
  margin: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#input-search{
  height: 4.8rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;

}
.search-field{
  display: flex;
  gap: 2rem;

}

.page-container{
  display: flex;
  gap: 2rem;
  width: 80%;
}

p {
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.server-data {
  font-size: 2rem;
}

p.user-welcome {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 1.8rem;
  font-size: 1.6rem;
}

.container{
  margin-top: 1.5rem;
  text-align: center;
  /* margin-left: 8rem; */
  height: 15rem;
  overflow:scroll;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

